.auth-forms {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.buttons {
    display: flex;
}

.buttons .btn-left {
    border-radius: 5px 0 0 5px;
}

.buttons .btn-right {
    border-radius: 0 5px 5px 0;
}


.btn-auth {
    transition: background-color .2s ease-in;
}