html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

.c-pointer {
    cursor: pointer;
}

.h-100 {
    min-height: 100% !important;
}

.ml-3 {
    margin-left: 2em;
}

.py-1 {
    padding-left: 2em;
    padding-right: 2em;
}

.pt-1 {
    padding-top: 2em;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.d-none {
    display: none;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 3em;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn i {
    position: relative;
    font-size: 18px;
    left: -2em;
    color: #515151;
}

.btn-navbar {
    width: 178px;
    text-decoration: none;
}

.btn-w {
    background-color: #fff;
    color: #515151;
}

.btn-mg {
    background: #c4c4c4;
    color: #515151;
}

.btn-g {
    background: #515151;
    color: white;
}

.btn-submit {
    width: 368px;
    height: 55px;
    background-color: #515151;
    border-radius: 5em;
    color: white;
    margin-top: 1em;
}

.text-center {
    text-align: center;
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
}

.form-group label {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: #515151;
}

.form-control {
    width: 368px;
    height: 55px;
    border: 1px solid #C4C4C4;
    text-align: center;
}

.file-control {
    background-color: #C4C4C4;
    color: white;
}