.image-card {
    max-width: 268px;
    overflow: auto;
    height: min-content;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.image-card .main-image-container {
    width: 100%;
    max-height: 366px;
    object-fit: cover;
    overflow: hidden;
}

.image-title {
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.image-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.image-prev {
    width: 100%;
    height: auto;
}
